section#wrapper
  
    #article(style='display:inline-block; width:650px;')
            #mapcanvas(style='display:inline-block; width:350px; height:350px;')
            #slider-vertical(style='height: 200px; display:inline-block;')
