  <script type='text/javascript' src="/javascripts/admin.js"></script>


<div id="top">
  
  <img  id="logo" src="./images/logo.png" alt="Circa Logo" />

  <div id='namewrapper'>
    <div id="locname"> yale</div>
      <img  id="locarrow" src="./images/locarrow.png" alt="You're here. Right?" />
      <img  id="qmark" src="./images/qmark.png" alt="?" />
      <img  id="locerror" src="./images/locerror.png" alt="Whoops! Try refreshing the page a few times." style="display:none"/>

  </div>  
    <div id='subtext'>chat with the people around you.</div>

  </div>
  
  





   <div id="bar2">
      <div id="pointercon">
        <img  id="pointer" src="./images/pointer.png" alt="textPointer" />
      </div>
      <div id='bubblecon'>
        <img  id="bubble" src="./images/bubble.png" alt="textPointer" />
      </div>


<div id="new_crush_box" >
    <textarea id="new_post_body" class="defaultText"
      alt="Write Your Post Here." name="post[content]" value="Write Your Post Here.">Write Your Post Here.</textarea>
    <input type=text id="admin_user_id"  />
   
    
    <button id="submit_admin_post">Submit </button>

  </div>


  </div>

<div id='radio'>   
        
          <input type = "radio"
                 name = "room[name]"
                 value = "My Room"
                 />
          <label>My Room</label>
        
           <br/> 
         
          <input type = "radio"
                 name = "room[name]"
                 value = "Saybrook" />
          <label>Saybrook</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Berkeley South" />
          <label>Berkeley South</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Davies Auditorium" />
          <label>Davies Auditorium</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Sudler Hall" />
          <label>Sudler Hall</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Dunham" />
          <label>Dunham</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Sloane 59" />
          <label>Sloane 59</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Sloane 57" />
          <label>Sloane 57</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Loria 250" />
          <label>Loria 250</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "SCL 110" />
          <label>SCL 110</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "SSS 114" />
          <label>SSS 114</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Blue State (Wall St.)" />
          <label>Blue State (Wall St.)</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "OML 202" />
          <label>OML 202</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Luce Auditorium" />
          <label>Luce Auditorium</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Mason 211" />
          <label>Mason 211</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "WHC 120" />
          <label>WHC 120</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Sterling Reading Room" />
          <label>Sterling Reading Room</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Music Library" />
          <label>Music Library</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Below Sterling" />
          <label>Below Sterling</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Bass Library" />
          <label>Bass Library</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "Bass Cafe" />
          <label>Bass Cafe</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "AA Library" />
          <label>AA Library</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "LC 101" />
          <label>LC 101</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "LC 102" />
          <label>LC 102</label>
           <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "yale" />
          <label>yale</label>
          <br/> 
          <input type = "radio"
                 name = "room[name]"
                 value = "SLB Auditorium" />
          <label>yale</label>
          <br/>
          <br/>
        
        
    </div>


  <div id="postlist">
    

<div class="postbox" id="tpostbox" style="display:none">
    <h2 class="post_body"></h2>
    <span class="post_title"></span>
    <span class="elapsed" class="post_time"></span>
    <form action="/admin!!5423" method="Post">
    <input type="hidden" class="post_id" name="post[id]" val="0"></input>

    <button type="Submit">Destroy Post</button>
  </div>




  </div>





 

<div id="footer">&copy; Circa: Yale 2012 </div>
  <div id="positions">
    <div id="lat" style="display:none"> </div>
    <div id="lon" style="display:none"> </div>
    <div id="tol" style="display:none"> </div>
   
      <div id="username" />capt.starfish</div>
    
  
 


  </div>


<!-- WTG START -->
