
<div id="top">
  <div id="maintext">
  Circa: Admin Page
 
  </div>
  <div id="subtext">
  chat with the people around you.</div>
  </div>


<div id="erroralert" style="display:none">
    Circa's having some trouble! Try refreshing the page a few times. If that doesn't work, then you might be in a place that we don't serve. If you think your location should be served by Circa, let us know at daniel.petkevich@gmail.com.
  </div>

<div id='radio'>   
	<form method='post' action='/get_admin_posts'>       
          <input type = "radio"
                 name = "room[name]"
                 id = "sizeSmall"
                 value = "My Room"
                 checked = "checked" />
          <label for = "sizeSmall">My Room</label>
          
          <input type = "radio"
                 name = "room[name]"
                 id = "sizeMed"
                 value = "AA Library" />
          <label for = "sizeMed">AA Library</label>
 
          <input type = "radio"
                 name = "room[name]"
                 id = "sizeLarge"
                 value = "large" />
          <label for = "sizeLarge">large</label>
            
        <input type='submit' value='submit'/>
        </form>
    </div>

<div id="main">

  <div id="new_crush_box" >
    <textarea id="new_post_body" class="defaultText"
      alt="Write Your Post Here." name="post[content]" value="Write Your Post Here.">Write Your Post Here.</textarea>
    <input id="new_post_title" class="defaultText" value="Where are you in Yale?" alt="Where are you in Yale?"
      name="post[title]"/>
    
    <button id="submit_post">Submit </button>

  </div>
  
 <% for ( var i = 0; i < posts.length; i++ )  { %>

  <div class="postbox" >
    <h2 class="post_body"><%= posts[ i ].content %></h2>
    <span class="post_title"><%= posts[ i ].title %></span>
    
    <span class="post_time"><%= posts[ i ].date_display() %></span>
  </div>

  
 <% } %>




  
</div>
<div id="footer">&copy; Circa: Yale 2012 </div>
  <div id="positions">
    <div id="lat" > </div>
    <div id="lon" > </div>
    <div id="tol" style="display:none"> </div>
  </div>
</div>

<!-- WTG START -->
