
<div id="top">
  <div id="maintext">
  Circa: <span id="locname"> Yale</span>
  </div>
  <div id="subtext">
  chat with the people around you.</div>
  </div>
<div id="main">
  
  

  
  
  <div id="new_crush_box" >
    <textarea id="new_post_body" class="defaultText"
      alt="Write Your Post Here." name="post[content]" value="Write Your Post Here.">Write Your Post Here.</textarea>
    <input id="new_post_title" class="defaultText" value="Where are you in bass?" alt="Where are you in bass?"
      name="post[title]" />
    
    <button id="submit_post">Submit </button>

  </div>
  
  <div class="postbox" style="display:none">
    <h2 class="post_body"></h2>
    <span class="post_title"></span>
    
    <span class="post_time"></span>
  </div>



  
</div>
<div id="footer">&copy; Circa: Yale 2011 </div>
  <div id="positions">
    <div id="lat" style="display:none"> </div>
    <div id="lon" style="display:none"> </div>
    <div id="tol" style="display:none"> </div>
  </div>
</div>

<!-- WTG START -->
<script>

  $( document ).ready( function() {
   
  if (navigator.geolocation) {
  /* geolocation is available */
 
  navigator.geolocation.getCurrentPosition(function(position) {
    

   var lat = position.coords.latitude;
   var lon = position.coords.longitude;
    ajaxPosts( lat, lon);
});
  
} else {
  alert("I'm sorry, but geolocation services are not supported by your browser.");
}
  } );
    
</script>
<!-- WTG STOP -->