
<div id="top">
  
  <img  id="logo" src="./images/logo.png" alt="Circa Logo" />


  <div id="locname"> yale</div>
  <div id='subtext'>chat with the people around you.</div>
  </div>
  


<div id="erroralert" style="display:none">
    Circa's having some trouble! Try refreshing the page a few times. If that doesn't work, then you might be in a place that we don't serve. If you think your location should be served by Circa, let us know at daniel.petkevich@gmail.com.
  </div>


   <div id="bar2">
      <div id="pointercon">
        <img  id="pointer" src="./images/pointer.png" alt="textPointer" />
      </div>
      <div id='bubblecon'>
        <img  id="bubble" src="./images/bubble.png" alt="textPointer" />
      </div>


<div id="new_crush_box" >
    <textarea id="new_post_body" class="defaultText"
      alt="Write Your Post Here." name="post[content]" value="Write Your Post Here.">Write Your Post Here.</textarea>
    <button id="submit_post">Submit </button>
</div>


  </div>


<img  id="explanation" src="./images/exp.png" alt="explanation" />


  <div id="postlist">
    

 <div class="postbox" data-datetime="blank" style="display:none">
    <div class="post_title"></div>
      <div class="post_body"></div>
    <div class="elapsed" class="post_time"></div>
  </div>

   <div class="postbox" data-datetime="blank">
    <h2 class="post_body">Not. A. Chance.</h2>
    <span class="post_title">That cute redhead upfront.</span>
    
    <span class="elapsed" class="post_time">sometime</span>

    </div>




  </div>





 


  <div id="positions">
    <div id="lat" > </div>
    <div id="lon" > </div>
    <div id="tol" style="display:none"> </div>
   </div>
      <div id="username" style="display:none" >black</div>
    
  
 
<div id="footer">
Copyright Circa:Yale 2012. Contact: circayale@gmail.com
  <div id="lightpost" >

                <img  id="chromebox" class="lightbox" src="./images/chromearrow.png" alt="lightbox text" style="display:none" />
                <img  id="firefoxbox" class="lightbox" src="./images/firefoxarrow.png" alt="lightbox text" style="display:none" />
                <img  id="safaribox" class="lightbox" src="./images/safariarrow.png" alt="lightbox text" style="display:none" />   
                <img  id="iebox" class="lightbox" src="./images/iearrow.png" alt="lightbox text" style="display:none" />      
     
  </div>
</div>


<!-- WTG START -->
<script>

  $( document ).ready( function() {
  
 

  if (BrowserDetect.browser==="Chrome")
  {
    if(BrowserDetect.browser==="Windows")
    {
      var post = $('#firefoxbox');
      }
    else{
      var post = $('#chromebox');
    }
  }

  if (BrowserDetect.browser==="Firefox" )
  { 
    
      var post = $('#firefoxbox');

  }

  if (BrowserDetect.browser==="Safari")
  {
      var post = $('#safaribox');
  }
   if (BrowserDetect.browser==="Explorer")
  {
      var post = $('#iebox');
  }


     $.fancybox( post.show());

   console.log("browers is " +BrowserDetect.browser + " version is " + BrowserDetect.version);
  var cookie1 = document.cookie;

  var index1 = cookie1.indexOf('uname=');
  var name1 = cookie1.substring((index1+6));
  console.log("name1 is " + name1);


$('#username').html(name1);





  if (navigator.geolocation) {
  /* geolocation is available */

  navigator.geolocation.getCurrentPosition(function(position) {
     $.fancybox.close();
      

   var lat = Number(position.coords.latitude);
   var lon = Number(position.coords.longitude);




// beginning the headers


  var lattol = Number(.0001);
  var lontol = Number(.0001);
  var lattol1 = Number(.0002);
  var lontol1 = Number(.0002);

  //for bass
  var lattolb = Number(.0003);
  var lontolb = Number(.0003);
  var lattold =  Number(.00005);
  var lontold = Number(.00005);
      
  //for sterling ref
  var lattolsr = Number(.0002);
  var lontolsr = Number(.0002);
//Saybrook
   var saybrooklat = Number(41.3101593916667);
    var saybrooklong = Number(-72.9295340333333);
  
  if ( lat >= (saybrooklat-lattol) && lat <=(saybrooklat+lattol)
  && lon <= (saybrooklong+lontol) && lon >= (saybrooklong-lontol))
        {
          
          $('#locname').html('Saybrook');
          $('#new_post_title').val("Where are you in Saybrook?");
          $('#new_post_title').attr('alt', "Where are you in Saybrook?");
        }
//Berkeley
  var berklat = Number(41.3104362222222);
  var berklong = Number(-72.9282326777778);
  
  if ( lat >= (berklat-lattol) && lat <=(berklat+lattol)
  && lon <= (berklong+lontol) && lon >= (berklong-lontol))
        {
          
          $('#locname').html('Berkeley South');
          $('#new_post_title').val("Where are you in Berkeley?");
          $('#new_post_title').attr('alt', "Where are you in Berkeley?");
        }
// Davies Auditorium
  var davelat=Number(41.31219205);
  var davelon = Number(-72.9249794416667);
  if ( lat >= (davelat-lattol) && lat <=(davelat+lattol)
  && lon <= (davelon+lontol) && lon >= (davelon-lontol))
        {
          
          $('#locname').html('Davies Auditorium');
          $('#new_post_title').val("Where are you in Davies?");
          $('#new_post_title').attr('alt', "Where are you in Davies?");
        }
        

// Sudler Hall
  var sudlat=Number(41.3103403333333);
  var sudlon = Number(-72.9265874777778);
  if ( lat >= (sudlat-lattol) && lat <=(sudlat+lattol)
  && lon <= (sudlon+lontol) && lon >= (sudlon-lontol))
        {
          
          $('#locname').html('Sudler Hall');
          $('#new_post_title').val("Where are you in Sudler?");
          $('#new_post_title').attr('alt', 'Where are you in Sudler?');
        }
//Dunham
  var dunlat=Number(41.3122608333333);
  var dunlon = Number(-72.9249771);
  if ( lat >= (dunlat-lattol1) && lat <=(dunlat+lattol1)
  && lon <= (dunlon+lontol1) && lon >= (dunlon-lontol1))
        {
          
          $('#locname').html('Dunham');
          $('#new_post_title').val("Where are you in Dunham?");
          $('#new_post_title').attr('alt', 'Where are you in Dunham?');
        }

// Sloane 59
  var s59lat=Number(41.3174433111111);
  var s59lon = Number(-72.9232252111111);
  if ( lat >= (s59lat-lattol) && lat <=(s59lat+lattol)
  && lon <= (s59lon+lontol) && lon >= (s59lon-lontol))
        {
          
          $('#locname').html('Sloane 59');
          $('#new_post_title').val("Where are you in Sloane 59?");
          $('#new_post_title').attr('alt', 'Where are you in Sloane 59?');
        }



// LC 101
 var lc101lat=Number(41.3086307);
  var lc101lon = Number(-72.9296026);
  if ( lat >= (lc101lat-lattol) && lat <=(lc101lat+lattol)
  && lon <= (lc101lon+lontol) && lon >= (lc101lon-lontol))
        {
          
          $('#locname').html('LC 101');
          $('#new_post_title').val("Where are you in LC 101?");
          $('#new_post_title').attr('alt', 'Where are you in LC 101?');
        }

//LC 102
  var lc102lat=Number(41.3085621333333);
  var lc102lon = Number(-72.9297319);
  if ( lat >= (lc102lat-lattol) && lat <=(lc102lat+lattol)
  && lon <= (lc102lon+lontol) && lon >= (lc102lon-lontol))
        {
          
          $('#locname').html('LC 102');
          $('#new_post_title').val("Where are you in LC 102?");
          $('#new_post_title').attr('alt', 'Where are you in LC 102?');

        }

  //Loria 250
  var lor250lat=Number(41.3090432666667);
  var lor250lon = Number(-72.9316202333333);
  if ( lat >= (lor250lat-lattol) && lat <=(lor250lat+lattol)
  && lon <= (lor250lon+lontol) && lon >= (lor250lon-lontol))
        {
          
          $('#locname').html('Loria 250');
          $('#new_post_title').val("Where are you in 250?");
          $('#new_post_title').attr('alt', 'Where are you in 250?');

        }
  //SCL 110

  var scl110lat=Number(41.3177732333333);
  var scl110lon = Number(-72.9229179333333);
  if ( lat >= (scl110lat-lattol) && lat <=(scl110lat+lattol)
  && lon <= (scl110lon+lontol) && lon >= (scl110lon-lontol))
        {
          
          $('#locname').html('SCL 110');
          $('#new_post_title').val("Where are you in SCL 110?");
          $('#new_post_title').attr('alt', 'Where are you in SCL 110?');
        }

  //SSS 114

  var ssslat=Number(41.3116056666667);
  var ssslon = Number(-72.9252176);
  if ( lat >= (ssslat-lattol) && lat <=(ssslat+lattol)
  && lon <= (ssslon+lontol) && lon >= (ssslon-lontol))
        {
          
          $('#locname').html('SSS 114');
          $('#new_post_title').val("Where are you in SSS 114?");
          $('#new_post_title').attr('alt', 'Where are you in SSS 114?');
        }

  // Blue State Wall St.

  var bswlat=Number(41.3104132666667);
  var bswlon = Number(-72.9255495);
  if ( lat >= (bswlat-lattol) && lat <=(bswlat+lattol)
  && lon <= (bswlon+lontol) && lon >= (bswlon-lontol))
        {
          
          $('#locname').html('Blue State (Wall St.)');
          $('#new_post_title').val("Where are you in Blue State?");
          $('#new_post_title').attr('alt', 'Where are you in Blue State?');
        }

   // OML 202

  var omllat=Number(41.3161918333333);
  var omllon = Number(-72.9237175666667);
  if ( lat >= (omllat-lattol) && lat <=(omllat+lattol)
  && lon <= (omllon+lontol) && lon >= (omllon-lontol))
        {
          
          $('#locname').html('OML 202');
          $('#new_post_title').val("Where are you in 202?");
          $('#new_post_title').attr('alt', 'Where are you in 202?');
        }
    
    // Luce Auditorium

  var lulat=Number(41.3143853666667);
  var lulon = Number(-72.9244436333333);
  if ( lat >= (lulat-lattol1) && lat <=(lulat+lattol1)
  && lon <= (lulon+lontol1) && lon >= (lulon-lontol1))
        {
          
          $('#locname').html('Luce Auditorium');
          $('#new_post_title').val("Where are you in Luce?");
          $('#new_post_title').attr('alt', 'Where are you in Luce?');
        }

        // Mason 211 Auditorium

  var maslat=Number(41.3124221333333);
  var maslon = Number(-72.923422);
  if ( lat >= (maslat-lattol) && lat <=(maslat+lattol)
  && lon <= (maslon+lontol) && lon >= (maslon-lontol))
        {
          
          $('#locname').html('Mason 211');
          $('#new_post_title').val("Where are you in 211?");
          $('#new_post_title').attr('alt', 'Where are you in 211?');
        }

  // whitney 120
  
  var whclat=Number(41.3097617);
  var whclon = Number(-72.9238007666667);
  if ( lat >= (whclat-lattol) && lat <=(whclat+lattol)
  && lon <= (whclon+lontol) && lon >= (whclon-lontol))
        {
          
          $('#locname').html('WHC 120');
          $('#new_post_title').val("Where are you in WHC 120?");
          $('#new_post_title').attr('alt', 'Where are you in WHC 120?');
        }    
        
  //Sterling Society Reading Room
  
  var soclat=Number(41.3112792333333);
  var soclon = Number(-72.9282619);
  if ( lat >= (soclat-lattol) && lat <=(soclat+lattol)
  && lon <= (soclon+lontol) && lon >= (soclon-lontol))
        {
          
          $('#locname').html('Sterling Reading Room');
          $('#new_post_title').val("Where are you in the room?");
          $('#new_post_title').attr('alt', 'Where are you in the room?');
        }  

  // stacks  
  var stacklat=Number(41.3112042);
  var stacklon = Number(-72.9292318333333);
  if ( lat >= (stacklat-lattolb) && lat <=(stacklat+lattolb)
  && lon <= (stacklon+lontolb) && lon >= (stacklon-lontolb))
        {
          
          $('#locname').html('Stacks');
       
        }        

  //Sterling Reference Room East  
  
  var reflat=Number(41.3108255666667);
  var reflon = Number(-72.92873725);
  if ( lat >= (reflat-lattolsr) && lat <=(reflat+lattolsr)
  && lon <= (reflon+lontolsr) && lon >= (reflon-lontolsr))
        {
          
          $('#locname').html('Sterling Reference Room');
          $('#new_post_title').val("Where are you in the room?");
          $('#new_post_title').attr('alt', 'Where are you in the room?');
        }  


  // Music Room
  
  var muslat=Number(41.3113233333333);
  var muslon = Number(-72.9285892);
  if ( lat >= (muslat-lattol) && lat <=(muslat+lattol)
  && lon <= (muslon+lontol) && lon >= (muslon-lontol))
        {
          
          $('#locname').html('Music Library');
          $('#new_post_title').val("Where are you in the music library?");
          $('#new_post_title').attr('alt', 'Where are you in the music library?');
        }  


// Below Sterling
  
  var bslat=Number(41.3108982333333);
  var bslon = Number(-72.9282461666667);
  if ( lat >= (bslat-lattol) && lat <=(bslat+lattol)
  && lon <= (bslon+lontol) && lon >= (bslon-lontol))
        {
          
          $('#locname').html('Below Sterling');
          $('#new_post_title').val("Where are you in that place below Sterling?");
          $('#new_post_title').attr('alt', 'Where are you in that place below Sterling?');
        }  

// bass 1st floor

  var b1lat=Number(41.3108646666667);
  var b1lon = Number(-72.9279158);
  if ( lat >= (b1lat-lattolb) && lat <=(b1lat+lattolb)
  && lon <= (b1lon+lontolb) && lon >= (b1lon-lontolb))
        {
          
          $('#locname').html('Bass Library');
          $('#new_post_title').val("Where are you in Bass?");
          $('#new_post_title').attr('alt', 'Where are you in Bass?');
        }  

// bass basement 

  var bblat=Number(41.3108763333333);
  var bblon = Number(-72.9277187);
  if ( lat >= (bblat-lattolb) && lat <=(bblat+lattolb)
  && lon <= (bblon+lontolb) && lon >= (bblon-lontolb))
        {
          
          $('#locname').html('Bass Library');
          $('#new_post_title').val("Where are you in Bass?");
          $('#new_post_title').attr('alt', 'Where are you in Bass?');
        }  
// bass cafe

  var bcafelat=Number(41.3106765666667);
  var bcafelon = Number(-72.9274440333333);
  if ( lat >= (bcafelat-lattol1) && lat <=(bcafelat+lattol1)
  && lon <= (bcafelon+lontol1) && lon >= (bcafelon-lontol1))
        {
          
          $('#locname').html('Bass Library');
          $('#new_post_title').val("Where are you in Bass Cafe?");
          $('#new_post_title').attr('alt', 'Where are you in Bass Cafe?');
        }  

// A&A Library

  var aalat=Number(41.3086329666667);
  var aalon = Number(-72.9317826);
 
  if ( lat >= (aalat-lattol1) && lat <=(aalat+lattol1)
  && lon <= (aalon+lontol1) && lon >= (aalon-lontol1))
        {
          
          $('#locname').html('AA Library');
          $('#new_post_title').val("Where are you in the AA Library?");
          $('#new_post_title').attr('alt', 'Where are you in the AA Library?');
        }  

 // My Room
 
  var mroomlat=Number(41.3103479333333);
  var mroomlon = Number(-72.9297462666667);
  if ( lat >= (mroomlat-lattol) && lat <=(mroomlat+lattol)
  && lon <= (mroomlon+lontol) && lon >= (mroomlon-lontol))
        {
          
          $('#locname').html('My Room');
          $('#new_post_title').val("Where are you in your room?");
          $('#new_post_title').attr('alt', 'Where are you in your room?');
        }  

 // SLB Auditorium
 
  var slblat=Number(41.3121417);
  var slblon = Number(-72.9275419);
  if ( lat >= (slblat-lattol) && lat <=(slblat+lattol)
  && lon <= (slblon+lontol) && lon >= (slblon-lontol))
        {
          
          $('#locname').html('SLB Auditorium');
       
        }  


  

else{


//$("#erroralert").show();
//$('#main').hide();


//alert("else activeated");



}

 var loc = $('#locname').html();
   console.log("location is" + loc);
    ajaxPosts( loc );

}, displayerror, {enableHighAccuracy: true});
  
function displayerror()
{
  alert("meow");

}

} else {
  alert("I'm sorry, but geolocation services are not supported by your browser.");
}





  } );
    
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29041066-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- WTG STOP -->