
<div id="top">
  
  <img  id="logo" src="./images/logo.png" alt="Circa Logo" />

  <div id='namewrapper'>
    <div id="locname">somewhere at yale</div>
      <img  id="locarrow" src="./images/locarrow.png" alt="You're here. Right?" />
      <img  id="qmark" src="./images/qmark.png" alt="?" />
      <img  id="locerror" src="./images/locerror.png" alt="Whoops! Try refreshing the page a few times." style="display:none"/>

  </div>  
    <div id='subtext'>chat with the people around you.</div>

  </div>
  <div id="legal">
       <img  id="legal" src="./images/legal.png" alt="Circa does not have permission to use the yale name." />

  </div>



<div id="midsection">

       <div id="bar2">
          <div id="pointercon">
            <img  id="pointer" src="./images/pointer.png" alt="textPointer" />
          </div>
          <div id='bubblecon'>
            <img  id="bubble" src="./images/bubble.png" alt="textPointer" />
          </div>
          <div id="roamcon" style="display:none">
           <img  id="bubble" src="./images/roaming1.png" alt="textPointer" />
          </div>  
    <div id="new_crush_box" >
        <textarea id="new_post_body" class="defaultText"
          alt="Write Your Post Here." name="post[content]" value="Write Your Post Here.">Write Your Post Here.</textarea>
        <button id="submit_post">Submit </button>
    </div>


      </div>


    <img  id="explanation" src="./images/exp.png" alt="explanation" />
    <img  id="exphover" src="./images/explanation.png" alt="explanation" style="display:none" />
    <img  id="join" src="./images/join.png" alt="join" />
    
        <div id="postlist">
            
             

         <div class="postbox" id="tpostbox" data-datetime="blank" style="display:none">
            <div class="post_title"></div>
              <div class="post_body"></div>
            <div class="elapsed" class="post_time"></div>
          </div>


       

          <div class="postbox" data-datetime="blank" >
            <div class="post_title">circamaster</div>
              <div class="post_body">Welcome to Circa:Yale. <br/>Share notes, talk smack, find a valentine, write a haiku for Mary Miller. Go ahead. Make a post.</div>
            <div class="elapsed1" class="post_time">circa 45 seconds ago</div>
          </div>

         


          </div>
        

    

</div>

  <div id="footer">
    Copyright Circa:Yale 2012. Contact: circayale@gmail.com

    <a style="position:fixed; right:6px; bottom:6px;" href='http://hackuniversity.com'><img src='http://hackuniversity.com/favicon.png' id="hyale" style='width:32px' /></a>
  </div>


  <div id="positions" style="display:none">
    <div id="lat" > </div>
    <div id="lon" > </div>
    <div id="tol" > </div>
   </div>
      <div id="username" style="display:none" >nolikecookies</div>
    
  
 

  <div id="lightpost" >

                <img  id="chromebox" class="lightbox" src="./images/chromearrow.png" alt="lightbox text" style="display:none" />
                <img  id="firefoxbox" class="lightbox" src="./images/firefoxarrow.png" alt="lightbox text" style="display:none" />
                <img  id="safaribox" class="lightbox" src="./images/safariarrow.png" alt="lightbox text" style="display:none" />   
                <img  id="iebox" class="lightbox" src="./images/iearrow.png" alt="lightbox text" style="display:none" />      

  </div>




<!-- WTG START -->
<script>

  $( document ).ready( function() {
  
 

  if (BrowserDetect.browser==="Chrome")
  {
    if(BrowserDetect.browser==="Windows")
    {
      var post = $('#firefoxbox');
      }
    else{
      var post = $('#chromebox');
    }
  }

  if (BrowserDetect.browser==="Firefox" )
  { 
    
      var post = $('#firefoxbox');

  }

  if (BrowserDetect.browser==="Safari")
  {
      var post = $('#safaribox');
  }
   if (BrowserDetect.browser==="Explorer")
  {
      var post = $('#iebox');
  }


     $.fancybox( post.show());

   console.log("browers is " +BrowserDetect.browser + " version is " + BrowserDetect.version);
  var cookie1 = document.cookie;
  console.log("cookies is "+ cookie1);
  var index1 = cookie1.indexOf('uname=');
  var index2 = cookie1.indexOf(';',index1);
  if (index2 > 0){
    
      var name1 = cookie1.substring((index1+6), index2);

  }
  else{
      var name1 = cookie1.substring((index1+6));

  }
  //console.log("indicies are " + index1 );
 // console.log("index 2 is " +index2);
  console.log("name1 is " + name1);


$('#username').html(name1);





  if (navigator.geolocation) {
  /* geolocation is available */

  navigator.geolocation.getCurrentPosition(function(position) {
     $.fancybox.close();
      

   var lat = Number(position.coords.latitude);
   var lon = Number(position.coords.longitude);




// beginning the headers


  var lattol = Number(.0001);
  var lontol = Number(.0001);
  var lattol1 = Number(.0002);
  var lontol1 = Number(.0002);

  //for bass
  var lattolb = Number(.0003);
  var lontolb = Number(.0003);
  var lattold =  Number(.00005);
  var lontold = Number(.00005);
      
  //for sterling ref
  var lattolsr = Number(.0002);
  var lontolsr = Number(.0002);
//Saybrook
   var saybrooklat = Number(41.3101593916667);
    var saybrooklong = Number(-72.9295340333333);
  
  if ( lat >= (saybrooklat-lattol) && lat <=(saybrooklat+lattol)
  && lon <= (saybrooklong+lontol) && lon >= (saybrooklong-lontol))
        {
          
          $('#locname').html('Saybrook');
          $('#new_post_title').val("Where are you in Saybrook?");
          $('#new_post_title').attr('alt', "Where are you in Saybrook?");
        }
//Berkeley
  var berklat = Number(41.3104362222222);
  var berklong = Number(-72.9282326777778);
  
  if ( lat >= (berklat-lattol) && lat <=(berklat+lattol)
  && lon <= (berklong+lontol) && lon >= (berklong-lontol))
        {
          
          $('#locname').html('Berkeley South');
          $('#new_post_title').val("Where are you in Berkeley?");
          $('#new_post_title').attr('alt', "Where are you in Berkeley?");
        }
// Davies Auditorium
  var davelat=Number(41.3121638333333);
  var davelon = Number(-72.9249528666667);
  if ( lat >= (davelat-lattol1) && lat <=(davelat+lattol1)
  && lon <= (davelon+lontol1) && lon >= (davelon-lontol1))
        {
          
          $('#locname').html('Davies Auditorium');
          $('#new_post_title').val("Where are you in Davies?");
          $('#new_post_title').attr('alt', "Where are you in Davies?");
        }
        

// Sudler Hall
  var sudlat=Number(41.3104372666667);
  var sudlon = Number(-72.9265786333333);
  if ( lat >= (sudlat-lattol) && lat <=(sudlat+lattol)
  && lon <= (sudlon+lontol) && lon >= (sudlon-lontol))
        {
          
          $('#locname').html('Sudler Hall');
          $('#new_post_title').val("Where are you in Sudler?");
          $('#new_post_title').attr('alt', 'Where are you in Sudler?');
        }
//Dunham
/*
  var dunlat=Number(41.3122608333333);
  var dunlon = Number(-72.9249771);
  if ( lat >= (dunlat-lattol) && lat <=(dunlat+lattol)
  && lon <= (dunlon+lontol) && lon >= (dunlon-lontol))
        {
          
          $('#locname').html('Dunham');
          $('#new_post_title').val("Where are you in Dunham?");
          $('#new_post_title').attr('alt', 'Where are you in Dunham?');
        }
*/
// Sloane 59
  var s59lat=Number(41.3174433111111);
  var s59lon = Number(-72.9232252111111);
  if ( lat >= (s59lat-lattol) && lat <=(s59lat+lattol)
  && lon <= (s59lon+lontol) && lon >= (s59lon-lontol))
        {
          
          $('#locname').html('Sloane 59');
          $('#new_post_title').val("Where are you in Sloane 59?");
          $('#new_post_title').attr('alt', 'Where are you in Sloane 59?');
        }



// LC 101
 var lc101lat=Number(41.3086307);
  var lc101lon = Number(-72.9296026);
  if ( lat >= (lc101lat-lattol) && lat <=(lc101lat+lattol)
  && lon <= (lc101lon+lontol) && lon >= (lc101lon-lontol))
        {
          
          $('#locname').html('LC 101');
          $('#new_post_title').val("Where are you in LC 101?");
          $('#new_post_title').attr('alt', 'Where are you in LC 101?');
        }

//LC 102
  var lc102lat=Number(41.3085621333333);
  var lc102lon = Number(-72.9297319);
  if ( lat >= (lc102lat-lattol) && lat <=(lc102lat+lattol)
  && lon <= (lc102lon+lontol) && lon >= (lc102lon-lontol))
        {
          
          $('#locname').html('LC 102');
          $('#new_post_title').val("Where are you in LC 102?");
          $('#new_post_title').attr('alt', 'Where are you in LC 102?');

        }

  //Loria 250
  var lor250lat=Number(41.3090432666667);
  var lor250lon = Number(-72.9316202333333);
  if ( lat >= (lor250lat-lattol1) && lat <=(lor250lat+lattol1)
  && lon <= (lor250lon+lontol1) && lon >= (lor250lon-lontol1))
        {
          
          $('#locname').html('Loria 250');
          $('#new_post_title').val("Where are you in 250?");
          $('#new_post_title').attr('alt', 'Where are you in 250?');

        }
  //SCL 110

  var scl110lat=Number(41.3177732333333);
  var scl110lon = Number(-72.9229179333333);
  if ( lat >= (scl110lat-lattol1) && lat <=(scl110lat+lattol1)
  && lon <= (scl110lon+lontol1) && lon >= (scl110lon-lontol1))
        {
          
          $('#locname').html('SCL 110');
          $('#new_post_title').val("Where are you in SCL 110?");
          $('#new_post_title').attr('alt', 'Where are you in SCL 110?');
        }

  //SSS 114

  var ssslat=Number(41.3116056666667);
  var ssslon = Number(-72.9252176);
  if ( lat >= (ssslat-lattol1) && lat <=(ssslat+lattol1)
  && lon <= (ssslon+lontol1) && lon >= (ssslon-lontol1))
        {
          
          $('#locname').html('SSS 114');
          $('#new_post_title').val("Where are you in SSS 114?");
          $('#new_post_title').attr('alt', 'Where are you in SSS 114?');
        }

  // Blue State Wall St.

  var bswlat=Number(41.3104132666667);
  var bswlon = Number(-72.9255495);
  if ( lat >= (bswlat-lattol) && lat <=(bswlat+lattol)
  && lon <= (bswlon+lontol) && lon >= (bswlon-lontol))
        {
          
          $('#locname').html('Blue State (Wall St.)');
          $('#new_post_title').val("Where are you in Blue State?");
          $('#new_post_title').attr('alt', 'Where are you in Blue State?');
        }

   // OML 202

  var omllat=Number(41.3161918333333);
  var omllon = Number(-72.9237175666667);
  if ( lat >= (omllat-lattol1) && lat <=(omllat+lattol1)
  && lon <= (omllon+lontol1) && lon >= (omllon-lontol1))
        {
          
          $('#locname').html('OML 202');
          $('#new_post_title').val("Where are you in 202?");
          $('#new_post_title').attr('alt', 'Where are you in 202?');
        }
    
    // Luce Auditorium

  var lulat=Number(41.3143853666667);
  var lulon = Number(-72.9244436333333);
  if ( lat >= (lulat-lattolb) && lat <=(lulat+lattolb)
  && lon <= (lulon+lontolb) && lon >= (lulon-lontolb))
        {
          
          $('#locname').html('Luce Auditorium');
          $('#new_post_title').val("Where are you in Luce?");
          $('#new_post_title').attr('alt', 'Where are you in Luce?');
        }

        // Mason 211 Auditorium

  var maslat=Number(41.3121780666667);
  var maslon = Number(-72.9240147333333);
  if ( lat >= (maslat-lattol1) && lat <=(maslat+lattol1)
  && lon <= (maslon+lontol1) && lon >= (maslon-lontol1))
        {
          
          $('#locname').html('Mason 211');
          $('#new_post_title').val("Where are you in 211?");
          $('#new_post_title').attr('alt', 'Where are you in 211?');
        }

  // whitney 120
  
  var whclat=Number(41.3097617);
  var whclon = Number(-72.9238007666667);
  if ( lat >= (whclat-lattol1) && lat <=(whclat+lattol1)
  && lon <= (whclon+lontol1) && lon >= (whclon-lontol1))
        {
          
          $('#locname').html('WHC 120');
          $('#new_post_title').val("Where are you in WHC 120?");
          $('#new_post_title').attr('alt', 'Where are you in WHC 120?');
        }    
        
  //Sterling Society Reading Room
  
  var soclat=Number(41.3112792333333);
  var soclon = Number(-72.9282619);
  if ( lat >= (soclat-lattol) && lat <=(soclat+lattol)
  && lon <= (soclon+lontol) && lon >= (soclon-lontol))
        {
          
          $('#locname').html('Sterling Reading Room');
          $('#new_post_title').val("Where are you in the room?");
          $('#new_post_title').attr('alt', 'Where are you in the room?');
        }  

  // stacks  
  var stacklat=Number(41.3112042);
  var stacklon = Number(-72.9292318333333);
  if ( lat >= (stacklat-lattolb) && lat <=(stacklat+lattolb)
  && lon <= (stacklon+lontolb) && lon >= (stacklon-lontolb))
        {
          
          $('#locname').html('Stacks');
       
        }        

  //Sterling Reference Room East  
  
  var reflat=Number(41.3108255666667);
  var reflon = Number(-72.92873725);
  if ( lat >= (reflat-lattolsr) && lat <=(reflat+lattolsr)
  && lon <= (reflon+lontolsr) && lon >= (reflon-lontolsr))
        {
          
          $('#locname').html('Sterling Reference Room');
          $('#new_post_title').val("Where are you in the room?");
          $('#new_post_title').attr('alt', 'Where are you in the room?');
        }  


  // Music Room
  
  var muslat=Number(41.3113233333333);
  var muslon = Number(-72.9285892);
  if ( lat >= (muslat-lattol) && lat <=(muslat+lattol)
  && lon <= (muslon+lontol) && lon >= (muslon-lontol))
        {
          
          $('#locname').html('Music Library');
          $('#new_post_title').val("Where are you in the music library?");
          $('#new_post_title').attr('alt', 'Where are you in the music library?');
        }  


// Below Sterling
  
  var bslat=Number(41.3108982333333);
  var bslon = Number(-72.9282461666667);
  if ( lat >= (bslat-lattol) && lat <=(bslat+lattol)
  && lon <= (bslon+lontol) && lon >= (bslon-lontol))
        {
          
          $('#locname').html('Below Sterling');
          $('#new_post_title').val("Where are you in that place below Sterling?");
          $('#new_post_title').attr('alt', 'Where are you in that place below Sterling?');
        }  

// bass 1st floor

  var b1lat=Number(41.3108646666667);
  var b1lon = Number(-72.9279158);
  if ( lat >= (b1lat-lattolb) && lat <=(b1lat+lattolb)
  && lon <= (b1lon+lontolb) && lon >= (b1lon-lontolb))
        {
          
          $('#locname').html('Bass Library');
          $('#new_post_title').val("Where are you in Bass?");
          $('#new_post_title').attr('alt', 'Where are you in Bass?');
        }  

// bass basement 

  var bblat=Number(41.3108763333333);
  var bblon = Number(-72.9277187);
  if ( lat >= (bblat-lattolb) && lat <=(bblat+lattolb)
  && lon <= (bblon+lontolb) && lon >= (bblon-lontolb))
        {
          
          $('#locname').html('Bass Library');
          $('#new_post_title').val("Where are you in Bass?");
          $('#new_post_title').attr('alt', 'Where are you in Bass?');
        }  
// bass cafe

  var bcafelat=Number(41.3106765666667);
  var bcafelon = Number(-72.9274440333333);
  if ( lat >= (bcafelat-lattol1) && lat <=(bcafelat+lattol1)
  && lon <= (bcafelon+lontol1) && lon >= (bcafelon-lontol1))
        {
          
          $('#locname').html('Bass Library');
          $('#new_post_title').val("Where are you in Bass Cafe?");
          $('#new_post_title').attr('alt', 'Where are you in Bass Cafe?');
        }  

// A&A Library

  var aalat=Number(41.3086329666667);
  var aalon = Number(-72.9317826);
 
  if ( lat >= (aalat-lattol1) && lat <=(aalat+lattol1)
  && lon <= (aalon+lontol1) && lon >= (aalon-lontol1))
        {
          $('#locname').html('AA Library');
          $('#new_post_title').val("Where are you in the AA Library?");
          $('#new_post_title').attr('alt', 'Where are you in the AA Library?');
        }  

 // My Room

  var mroomlat=Number(41.3103479333333);
  var mroomlon = Number(-72.9297462666667);
  if ( lat >= (mroomlat-lattol) && lat <=(mroomlat+lattol)
  && lon <= (mroomlon+lontol) && lon >= (mroomlon-lontol))
        {
          
          $('#locname').html('My Room');
          $('#new_post_title').val("Where are you in your room?");
          $('#new_post_title').attr('alt', 'Where are you in your room?');
        }  

 // SLB Auditorium
 
  var slblat=Number(41.3121417);
  var slblon = Number(-72.9275419);
  if ( lat >= (slblat-lattol1) && lat <=(slblat+lattol1)
  && lon <= (slblon+lontol1) && lon >= (slblon-lontol1))
        {
          
          $('#locname').html('SLB Auditorium');
       
        }  

// SLB 27
 
  var slb2lat=Number(41.3118027);
  var slb2lon = Number(-72.9277188);
  if ( lat >= (slb2lat-lattol1) && lat <=(slb2lat+lattol1)
  && lon <= (slb2lon+lontol1) && lon >= (slb2lon-lontol1))
        {
          
          $('#locname').html('SLB 127');
       
        }  

// josh
 
  var jrlat =Number(41.3101869 );
  var jrlon= Number(-72.9296622);
  if ( lat >= (jrlat-lattol) && lat <=(jrlat+lattol)
  && lon <= (jrlon+lontol) && lon >= (jrlon-lontol))
        {
          
          $('#locname').html('Josh');
       
        }  

// SLB 27
 
  var klat =Number(41.3168964333333 );
  var klon= Number(-72.9238190666667);
  if ( lat >= (klat-lattol1) && lat <=(klat+lattol1)
  && lon <= (klon+lontol1) && lon >= (klon-lontol1))
        {
          
          $('#locname').html('Kroon');
       
        }  

// Commons
 
  var comlat =Number(41.3116931 );
  var comlon= Number(-72.9262979333333);
  if ( lat >= (comlat-lattolb) && lat <=(comlat+lattolb)
  && lon <= (comlon+lontolb) && lon >= (comlon-lontolb))
        {
          
          $('#locname').html('Commons');
       
        }  


if($('#locname').html()==='somewhere at yale')
    {
      $('#roamcon').show();
      $('#new_crush_box').hide();
      $("#footer").hide();
      $(".postbox").hide();

    }
    

else{


//$("#erroralert").show();
//$('#main').hide();


//alert("else activeated");



}

 var loc = $('#locname').html();
   console.log("location is" + loc);
    ajaxPosts( loc );

});
  


} else {
  alert("I'm sorry, but geolocation services are not supported by your browser.");
}





  } );
    
</script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f335e7a844d5251f8000020');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29041066-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- WTG STOP -->