
<div id="top">
  <div id="maintext">
  Circa: <span id="locname"> Yale</span>
  </div>
  <div id="subtext">
  chat with the people around you</div>
  </div>
<div id="main">
  
  

  
  
  <div id="new_crush_box" >

    <input id="new_post_title" class="defaultText" value="Write Your Post Here." alt="Write Your Post Here."
      name="post[title]"/>
    <textarea id="new_post_body" class="defaultText"
      alt="Where are you in Bass?" name="post[content]">Where are you in Bass?</textarea>
    <button id="submit_post">Submit!</button>

  </div>
  
  <div class="postbox" style="display:none">
    <h2 class="post_title"></h2>
    <p class="post_body"></p>
    <div class="post_time"></div>
  </div>



  
</div>
<div id="footer">&copy; FaceCrush 2011 </div>
  <div id="positions">
    <div id="lat" style="display:none"> </div>
    <div id="lon" style="display:none"> </div>
    <div id="tol" style="display:none"> </div>
  </div>
</div>

<!-- WTG START -->
<script>

  $( document ).ready( function() {
   
  if (navigator.geolocation) {
  /* geolocation is available */
 
  navigator.geolocation.getCurrentPosition(function(position) {
    

   var lat = position.coords.latitude;
   var lon = position.coords.longitude;
    ajaxPosts( lat, lon);
});
  
} else {
  alert("I'm sorry, but geolocation services are not supported by your browser.");
}
  } );
    
</script>
<!-- WTG STOP -->