<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
		<script type='text/javascript' src="/javascripts/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
    <script src="http://simple-night-1895.herokuapp.com/socket.io/socket.io.js"></script>

		<script type='text/javascript' src="/javascripts/main.js"></script>
    <script type="text/javascript" src="ejs_production.js"></script>

  </head>
  <body>
    <%- body %>
  </body>
</html>