!!! 5
html
  head
    title Circa
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Circa:Yale is a service that lets students at Yale University talk to each other in class and in the library.')
    meta(name='author', content='Circa:Yale')
    meta(property='og:title', content='Circa:Yale')
    meta(property='og:site_name', content='Circa:Yale')
    meta(property='og:image', content='/images/logo.png')
    meta(property='og:url', content='http://circayale.com')
    meta(property='og:type', content='website')
    meta(property='fb:admins', content='1553550514')
    meta(property='og:description', content='Circa is a live chat that let\'s you connect with the people around you!')
    
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/jquery.alerts.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.18.custom.css')

    link(rel='icon', href='./images/favicon.png')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    //
          <script src="http://simple-night-1895.herokuapp.com/socket.io/socket.io.js"></script>
          <script src="http://strong-sword-7489.herokuapp.com/socket.io/socket.io.js"></script>
          <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
          
    script(type='text/javascript', src='/javascripts/jquery.alerts.js')
    script(type='text/javascript', src='/javascripts/jquery.fancybox.js')
    script(type='text/javascript', src='/javascripts/bdetect.js')
    script(type='text/javascript', src='/javascripts/time.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/main2.js')
    script(type='text/javascript', src='/javascripts/h5utils.js')
    meta(name='viewport', content='width=620')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='/javascripts/jquery_ui.js')

    script(type='text/javascript', src='/javascripts/map.js')
    script(src='/javascripts/prettify.packed.js')
    meta(name='google-site-verification', content='TWJa8mR9tbnmnGCrakuUspm0xEdcDAfj6IZGMGGZNLw')
  body
    include _map
