body {
    margin:0px;
    font-family: 'Helvetica Neue', Helvetica, Lucida, Arial, sans-serif;
    font-size:12px;
    background-color:#A9DFF0;
}
a {
    text-decoration:none;
    color:#000;
}
h1, h2{
    margin:0px;
    font-size:20px;
    padding-bottom:2px;
}
#header {
    background-color:#f5f5f5;
    padding:12px;
    color:#000;
    border:solid 1px #ccc;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
}
#logo{
    margin-left:100px;
    font-size:14px;
    padding:0px;
}
.nav{
    margin-left:20px;
    padding:0px;
}

#main {
    margin-top:42px;
    border:solid 1px #ccc;
    padding: 15px;
    padding-top:2px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:#FFF9EA;
    margin-top:5px;
}
#top{
    margin-left: 80px;
    margin-top:25px;

}
#maintext{
    font-size: 45pt;
    font-weight: lighter;
   
}
#subtext{
    font-size: 15pt;
    font-weight: lighter;
    padding-left:5px;
}
#top{
    margin-left: 80px;
    margin-top:25px;
}
#new_crush_button {
    padding:15px;

    color:#000;
    border:solid 1px #999;
    margin:15px;
    height:16px;
    line-height:16px;
    width:250px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#new_crush_button:hover{
    font-weight:bold;
    background-color:#fff;
    border:solid 1px #333;
    cursor:pointer;
}
.postbox, #new_crush_box{
    margin-top:15px;
    border:solid 1px #ccc;
    padding:15px;
    text-align:left;
    color:#000;
}
input#new_post_title, textarea#new_post_body{
    display:block;
    width:400px;
    border:1px solid #aaa;
    padding:4px;
    color:#333;
    font-size:14px;
    font-weight:bold;

}
textarea#new_post_body{
    font-size:14px;
    font-weight:medium;
    margin-top:8px;
    min-height:40px;
    margin-bottom:5px;
    
}
.post_time{
    text-align:right;
    font-style:italic;
    font-size:11px;
    color:#999;
}
#footer{
    margin-top:100px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

