body {
    margin:0px;
    font-family: 'Garamond', 'Helvetica Neue', Helvetica, Lucida, Arial, sans-serif;
    font-size:12px;
    background-color:#27AAE1;
    min-width:960px;

}

.lightbox{
        opacity:1;
        width:598px;
        height:530px;
}   

#safaribox{
    width:473px;
    height:699px;

}
#iebox{
    width:473px;
    height:699px;

}


a {

    text-decoration:none;
    color:#000;
}
h1, .post_body{
    margin-top:1px;
    margin-bottom:1px;
    font-size:20px;
    padding-bottom:2px;
    font-weight:bold;
    display:inline-block ;

}



#radio {
    position:absolute;

}
#radio input{  
vertical-align: middle; margin-top: -1px;
}

#top{
    z-index:0;
    position:relative;

}
#logo{
    margin-left:53px;
    margin-top:40px;
    display:inline-block;
}
#namewrapper,#locname{
   font-size:68px;
    display:inline-block;
    margin-left:6px;
    position:relative;
    bottom:5px;
}


#subtext{
    font-size:20px;
    margin-left:55px;
    position:relative;
    top:-15px;
}

#locarrow{
    position:relative;
    bottom:-30px;
    left:10px;

}
#bar2{
    margin-top:25px;
    height:200px;


}
#pointercon{
    display:inline-block;
    height:auto;
    position:relative;
    bottom:45px;
    z-index:0;

}

#bubblecon{
    display:inline-block;
    margin-left:60px;
    position:relative;
    z-index:0;

}
#new_crush_box{
    display:inline-block;
    margin-top:0px;
    padding:15px;
    text-align:left;
    color:#000;
    position:relative;
    z-index:1;
    margin-left:405px;
    bottom:175px;
}
#postlist{
    display:inline-block;
    border:solid;
    left:170px;
    width:515px;
    background-color:white;
    border-radius: 15px;
    position:relative;
    
    border-style: solid;
    border-width:1pt;
    border-color:black;
       box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.8);


}
#explanation{
    float:left;
    position:relative;
    left:60px;



}
.postbox{
    margin-top:0px;
    border-bottom:solid 1px #ccc;
    padding:10px;
    text-align:left;
    color:#000;
  
}

#main {
    
    border:solid 1px #ccc;
    padding: 15px;
    padding-top:2px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:#FFF9EA;
    margin-top:8px;
   
}
#positions{
    position:fixed;
    bottom:0px;

}
#erroralert {
    margin-top:42px;
    border:solid 1px #ccc;
    padding: 15px;
    padding-top:2px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:#FFF9EA;
    margin-top:8px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}




input#new_post_title, textarea#new_post_body{
    display:block;
    width:400px;
    border:1px solid #aaa;
    padding:4px;
    color:#333;
    font-size:14px;
    font-weight:bold;
     color:#ccc;
     resize:none;

}
textarea#new_post_body{
    font-size:14px;
    font-weight:medium;
    margin-top:8px;
    min-height:40px;
    margin-bottom:5px;
    color:#ccc;
    
}
.post_time{
    text-align:right;
    font-style:italic;
    font-size:11px;
    color:#999;
}
.textrwap{
    


}
.post_title,.dash{
    
    font-size:18px;
    color:black;

   
}

.dash{
    position:relative;
    left:3px;

}
#footer{
   
    position:relative;
    top:80px;
   
    font-size:14px;
    left:350px;


}

#localert{
   
    width: 450px;
    margin-left: 500px;



}

